@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Play', sans-serif;
    @apply bg-apex-blue;
}

::-webkit-scrollbar {
    position: absolute;
    left: 0;
    @apply w-2;
    @apply h-2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input {
    @apply p-8;
    @apply bg-gray;
    @apply border;
    @apply rounded;
    @apply p-2;
    /* @apply placeholder:text-white; */
    @apply placeholder:font-bold;
    @apply placeholder:text-lg;
    @apply placeholder:opacity-75;
    @apply w-full;
    @apply my-2;
}

.skeleton-loading {
    background: linear-gradient(90deg, rgba(168, 168, 168, 0.5) 25%, rgba(144, 144, 144, 0.5) 50%, rgba(168, 168, 168, 0.5) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}