@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    position: absolute;
    /* padding-left: 20px;
    margin-left: 20px; */
    left: 0;
    @apply w-2;
    @apply h-2;
 }

        /* Track */
        /* ::-webkit-scrollbar-track { */
            /* background: gainsboro; */
            /* border-radius: 5px; */
            /* margin-left: 2rem; */
        /* } */
     
        /* Handle */
        ::-webkit-scrollbar-thumb {
            @apply bg-gray;
            border-radius: 5px;
            /* @apply p-8; */
        }
     
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


input {
    @apply p-8;
    @apply bg-gray;
    @apply border;
    @apply rounded;
    @apply p-2;
    /* @apply placeholder:text-white; */
    @apply placeholder:font-bold;
    @apply placeholder:text-lg;
    @apply placeholder:opacity-75;
    @apply w-full;
    @apply my-2;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Play', sans-serif;
}